#################
## HDL Designer
#################
Processor/Processor_lib/hds/.cache.dat
Processor/Processor_lib/work/*/*
Processor/Processor_lib/work/


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
